.pad-0 {
    padding: 0;
}
.top-header {
        background-color: #232f3e;
        min-height: 36px;
        color: #fff;
    
}
.box-static-link{ position: relative;}
.box-static-link:first-child li {margin-right: 80px;}
ul.box-static-link li {
    margin-left: 50px;
    position: relative;
    margin-bottom: 0;
    display: inline-block;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em; 
    margin-right: .2em;
    text-align: center;
     opacity: .8; 
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    font-size: 120%; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
ul.box-static-link li a {
    line-height: 35px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    position: relative;
    top: 5px;
}

.navigation .icon {
    position: absolute;
    top: 10px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    padding: 5px;
    color: #fff;
    background: #ed1d24;
    line-height: 100%;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}
.navigation .icon:before {
    content: "";
    width: 0px;
    height: 0px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #ed1d24;
    position: absolute;
    left: 97%;
    bottom: 9px;
    -webkit-transform:  rotate(-90deg);
    -moz-transform:  rotate(-90deg);
    -ms-transform:  rotate(-90deg);
    -o-transform:  rotate(-90deg);
    transform: rotate(-90deg);
}
.Adds{
    position: relative;
    height: 400px;
    overflow: hidden;
    
}
.Adds a{color: #fff; position: absolute; top: 0; font-size: 35px; text-decoration: none; z-index: 99999; height: 100%; padding: 100px 50px;}
.Adds .mask{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
width: 100%;
background: rgba(0, 0, 0, 0.8);
}
.service-home-2 .block{ list-style: none;}
.service-home-2 .block .info {
    padding: 30px 0 0px 30px;
    color: white;
    height: 120px;
    background: #56667f;
    display: block;
}

.service-home-2 .block .info i {
    font-size: 30px;
    border: 1px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
}
.service-home-2 .block .info .box-text {
    display: inline-block;
    padding-left: 15px;
    position: relative;
    top: 6px;
}
.service-home-2 .block .info .box-text span:first-child {
    font-size: 18px;
    text-transform: uppercase;
}

.service-home-2 .block .info i {
    font-size: 30px;
    border: 1px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
}

i {
    cursor: pointer;
}
.slick-prev:before, .slick-next:before{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: solid 1px #ededed;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    cursor: pointer;
}
ul.tabs li a{
    padding: 15px 50px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
ul.tabs li .current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
    float: left;
    width: 100%;
}

.tab-content.current{
    display: inherit;
}
.tab-carousel{
    overflow: hidden;
    position: relative;
}
.tab-carousel .owl-item {
    float: left;
}